# DataFrames and Series

DataFrame

|Data type|Introduction|Pandas|
|----|----|----|
|csv、tsv、txt|text|pd.read_csv|
|excel|Microsoft xls or xlsx|pd.read_excel|
|mysql|database|pd.read_sql|

Series: a row or column of data

## Series

###### Simple Series

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1, 'a', 5.2, 7])
s1

0      1
1      a
2    5.2
3      7
dtype: object

###### Simple Series with Index

In [3]:
s2 = pd.Series([1, 'a', 5.2, 7], index = ['a', 'b', 'c', 'd'])
s2

a      1
b      a
c    5.2
d      7
dtype: object

In [4]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

###### Simple Series created by dictionary

In [5]:
s3data = {'ohio':3500, 
         'texas':72000,
         'oregon':16000,
         'utah':5000}

In [6]:
s3 = pd.Series(s3data)
s3

ohio       3500
texas     72000
oregon    16000
utah       5000
dtype: int64

###### Series Index

In [7]:
s2

a      1
b      a
c    5.2
d      7
dtype: object

In [8]:
s2['a']

1

In [9]:
type(s2['a'])

int

In [10]:
s2[['a','b']]

a    1
b    a
dtype: object

In [11]:
type(s2[['a','b']])

pandas.core.series.Series

## DataFrame

In [12]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
      'year':[2000,2001,2002,2001,2002],
      'pop':[1.5,1.7,3.6,2.4,2.9]
     }

In [13]:
df = pd.DataFrame(data)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [14]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [15]:
df.index

RangeIndex(start=0, stop=5, step=1)

## Look up Series from DataFrame

In [16]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

###### Column

In [17]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [18]:
type(df['year'])

pandas.core.series.Series

In [19]:
df[['year', 'pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [20]:
type(df[['year', 'pop']])

pandas.core.frame.DataFrame

###### Row

In [21]:
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [22]:
type(df.loc[1])

pandas.core.series.Series

In [23]:
df.loc[1:3]

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4