# Statistic Function

In [1]:
import pandas as pd
data = pd.read_csv('datas/beijing_tianqi/beijing_tianqi_2018.csv')

data.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [2]:
# Delete °C
data.loc[:, 'bWendu'] = data['bWendu'].str.replace('℃','').astype('int32')
data.loc[:, 'yWendu'] = data['yWendu'].str.replace('℃','').astype('int32')

## Describe

In [3]:
data.describe()

           bWendu      yWendu         aqi    aqiLevel
count  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411
std     11.858046   11.755053   51.936159    1.029798
min     -5.000000  -12.000000   21.000000    1.000000
25%      8.000000   -3.000000   46.000000    1.000000
50%     21.000000    8.000000   69.000000    2.000000
75%     29.000000   19.000000  104.000000    3.000000
max     38.000000   27.000000  387.000000    6.000000

In [4]:
data['bWendu'].max()

38

In [5]:
data['bWendu'].min()

-5

In [6]:
data['bWendu'].count()

365

In [7]:
data['bWendu'].std()

11.858045666421836

## Remove Duplicates

In [8]:
data['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

### Value_counts

In [9]:
data['tianqi'].value_counts()

晴         101
多云         95
多云~晴       40
晴~多云       34
多云~雷阵雨     14
多云~阴       10
雷阵雨         8
阴~多云        8
小雨~多云       8
雷阵雨~多云      7
小雨          6
多云~小雨       5
雷阵雨~中雨      4
阴           4
中雨~小雨       2
霾           2
阴~小雨        2
中雨~雷阵雨      2
雷阵雨~阴       1
小雨~雨夹雪      1
小雨~中雨       1
阴~雷阵雨       1
大雨~小雨       1
小雪~多云       1
雷阵雨~大雨      1
小雨~大雨       1
暴雨~雷阵雨      1
雾~多云        1
小雨~阴        1
小雨~雷阵雨      1
阴~小雪        1
Name: tianqi, dtype: int64

## Corr & Cov

In [10]:
data[['bWendu','yWendu']].cov()

            bWendu      yWendu
bWendu  140.613247  135.529633
yWendu  135.529633  138.181274

In [11]:
data[['bWendu','yWendu']].corr()

          bWendu    yWendu
bWendu  1.000000  0.972292
yWendu  0.972292  1.000000

In [12]:
data['yWendu'].corr(data['bWendu'])

0.9722916304498574

In [13]:
data['aqi'].corr(data['bWendu']-data['yWendu'])

0.2165225757638205