# Axis 

* axis=0或者"index"：  
  - 如果是单行操作，就指的是某一行
  - 如果是聚合操作，指的是跨行cross rows
* axis=1或者"columns"：
  - 如果是单列操作，就指的是某一列
  - 如果是聚合操作，指的是跨列cross columns
  
***按哪个axis，就是这个axis要动起来(类似被for遍历)，其它的axis保持不动***

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A', 'B', 'C', 'D']
)

In [3]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [4]:
df.drop("A", axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [5]:
df.drop(0, axis=0)

   A  B   C   D
1  4  5   6   7
2  8  9  10  11

In [6]:
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [7]:
def get_sum_value(x):
    return x["A"] + x["B"] + x["C"] + x["D"]

df["sum_value"] = df.apply(get_sum_value, axis=1)

In [8]:
df

   A  B   C   D  sum_value
0  0  1   2   3          6
1  4  5   6   7         22
2  8  9  10  11         38